{% extends 'dashboard.html.twig' %}

{% block page_content %}
{% block card_user %}

	<div class="container-fluid">
		<h1 class="text-primary mb-4">Mon Dashboard Futuriste</h1>
		<div class="container">
			<div id="calendar"></div>
		</div>
	{% endblock %}

{% endblock %}
