:root {
    --primary-color: #7CB342; /* Vert olive: pour évoquer la nature, la santé et la fraîcheur. */
    --secondary-color: #64B5F6; /* Bleu clair : pour rappeler l'idée d'hygiène et de pureté. */
    --accent-color: #424242; /* Gris anthracite : pour apporter une touche de sophistication et de sérieux à votre site. */
    
  }
  

#calendar {
    width: 100%;
    margin: auto;
  }