:root {
  /* CSS HEX */
  --secondary-typo: #707070;
  --primary-typo: #333333;
  --primary-color: #80a3f5;
  --secondary-color: #aeadbe;
  --background: #F5EEF2;

  --bs-primary: #90f1efff;
  --bs-success: #c1fba4ff;
  --bs-warning: #ffef9fff;
  --bs-danger: #ffd6e0ff;
}


/*

  Utilisez la couleur principale avec parcimonie pour qu'elle attire l'attention 
  sur les éléments les plus importants de votre site, comme les boutons d'action.
  
  Utilisez la couleur secondaire pour apporter de la variété et créer des contrastes.
  Par exemple, vous pouvez l'utiliser pour les titres, les liens ou les icônes.
  
  Utilisez la couleur de fond pour créer une ambiance générale sur votre site.
  Cette couleur doit être neutre et discrète pour ne pas distraire l'attention de vos
  utilisateurs, mais suffisamment chaleureuse pour créer une ambiance accueillante.
  
  Utilisez les couleurs de la typographie pour rendre votre contenu facilement lisible
  et agréable à lire. Le gris foncé pour les titres et le gris clair pour le corps de texte
  sont des choix populaires et efficaces.
  
  Assurez-vous d'utiliser des couleurs cohérentes sur l'ensemble de votre
  site pour renforcer votre image de marque et rendre votre site plus esthétique et
  facile à utiliser.
  
  Enfin, n'oubliez pas que la typographie, les images et la mise en page
  peuvent également contribuer à l'harmonie générale de votre site.
  Pensez à utiliser une typographie cohérente et à choisir des images qui
  correspondent à votre palette de couleurs et à votre branding.

  */
  
 h1 {
    color: var(--primary-color); 
  }
  
#calendar {
  width: 100%;
  margin: auto;
}

.fc-event-end {
  background-color: rgb(169, 204, 233);
}

.fc-event-end:hover {
  background-color: rgb(230, 207, 108);
}




body {
  color: rgb(218, 224, 248);
}


.user-image {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  box-shadow: 6px 5px 0px rgba(34, 34, 78, 0.6);
}

.user-image-container {
  position: relative;
}

.user-image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.user-image-container:hover .user-image-overlay {
  opacity: 1;
}

.user-image-text {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar, .resizer-handler-left, .ea-search-disabled, table, .modal-content {
  background-color: rgba(209, 218, 238, 0.849);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.card-body, .modal-content, .fc-view {
  color: #333333;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-header {
  background: none;
}


/* 
.content-wrapper{
    background-color: var(--background);
} */
